@model HouseBuySell.Models.ViewModel.PropertyViewModel
@{
    ViewData["Title"] = "Property Detail";
}


<div class="row text-center">
    <div class="col-md-12 col-12">
        <p style="font-size:30px;color:royalblue"><b>PropertyDetail</b></p>
    </div>
</div>





<div class="row">
    <div class="col-6">
        <a class="btn btn-medium btn-secondary float-left  " asp-action="Index">
            Return
        </a>
    </div>
   
</div>


<script>
   





</script>